<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Inicio de Sesión</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script th:src="@{/js/tailwind.config.js}"></script>
    <style>
        .bg-cover {
            background-image: url('https://res.cloudinary.com/dwcydursu/image/upload/v1717676521/proyecto/syz47xys155hiknnbxuo.jpg');
            background-size: cover;
            background-position: center;
        }
    </style>
</head>
<body class="w-full h-[100vh] flex justify-center items-center bg-cover">
<section th:fragment="register" class="w-full h-full flex-1 flex justify-center items-center">
    <form action="#" method="post" class="w-[30%] h-auto flex flex-col justify-evenly bg-white p-8 rounded-3xl shadow border-2 border-pink-300">
        <div class="w-full flex justify-center mb-6">
            <img src="https://res.cloudinary.com/dwcydursu/image/upload/v1717675764/proyecto/iconos/hd32l9dhiuoqq0mii1tm.png" alt="Decorative" class="w-24 h-24 object-cover ">
        </div>
        <input type="email" placeholder="Ingresa tu correo" required
               class="font-serif rounded-md border-solid border-b-2 border-pink-300 p-2 mb-4 focus:outline-none focus:border-purple-300">
        <input type="password" placeholder="Ingresa tu contraseña" required
               class="font-serif rounded-md border-solid border-b-2 border-pink-300 p-2 mb-4 focus:outline-none focus:border-purple-300">
        <div class="mb-4">
            <label class="inline-flex items-center">
                <input type="checkbox" id="termsCheckbox" class="form-checkbox text-indigo-600" />
                <span class="ml-2">He leído y acepto los términos y condiciones</span>
            </label>
        </div>
        <input type="submit" value="Ingresar" id="submitButton"
               class="font-serif bg-pink-300 text-white rounded-xl p-2 ease-in duration-300 cursor-not-allowed">
    </form>
</section>
</body>
</html>
